name: Build Flutter APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.5"

      - name: Install dependencies
        working-directory: ase_flutter_clean
        run: flutter pub get

      - name: Build release APK
        working-directory: ase_flutter_clean
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: ase_flutter_clean/build/app/outputs/flutter-apk/app-release.apk
